html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    overflow: hidden;
    
}

body {
    perspective: 500px;
    perspective-origin: 50% 50%;
    transition: .5s;
    &::before {
        // content: '';
        display: block;
        width: 200vw;
        height: 200vw;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: radial-gradient(rgb(255, 47, 79) 0%,  #000 35%);
        position: absolute;
        top: calc(50% - 100vw);
        left: calc(50% - 100vw);
        transition: .5s;
        z-index: -1;
    }
    &.see-top {
        perspective-origin: 50% -5%;
        &::before {
            transition: 2s;
            transform: translate(0, -20vw);
        }
    }
    &.see-top-left {
        perspective-origin: 30% 10%;
        &::before {
            transform: translate(-20vw, -22vw);
        }
    }
    &.see-bottom-left {
        perspective-origin: 20% 105%;
        &::before {
            transform: translate(-20vw, 25vw);
        }
    }
    &.see-bottom-right {
        perspective-origin: 70% 90%;
        &::before {
            transform: translate(20vw, 22vw);
        }
    }
    &.see-top-right {
        perspective-origin: 80% 10%;
        &::before {
            transform: translate(23vw, -10vw);
        }
    }
}

* {
    font-family: Arial, "微軟正黑體";
}

.tunnel {
    width: 1em;
    height: 1em;
    position: absolute;
    pointer-events: none;
    &::after {
        // content: attr(data-index);
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color:#73f28d;
        font-size: 16px;
        color: #000;
        position: absolute;
        top: 10%;
        transform: translate(-50%, -50%);
        transition: .3s;
        opacity: 0;
    }
    &.show-dot {
        &::after{
            top: 0%;
            opacity: 1;
        }
    }
    &.left {
        &::after{
            left: -20%;
        }
    }
    &.center {
        &::after{
            left: 0%;
        }
    }
    &.right {
        &::after{
            left: 20%;
        }
    }
    &.get-dot {
        &::after{
            transition: 0s;
            opacity: 0;
        }
    }
    &::before {
        display: block;
        content: "";
        font-size: inherit;
        width: 1em;
        height: 1em;
        border-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        position: absolute;
        transition: width 1s, height 1s, opacity .03s;
        background-color: #fff;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: -10s;
    }
    &.type-0 {
        &::before {
            border-radius: 10%;
        }
    }
    &.type-1 {
        &::before {
            border-radius: 100%;
        }
    }
    &.type-2 {
        &::before {
            width: 0px;
            height: 0px;
            border-width: 0.9em 0.5em;
            background-color: transparent;
            border-color: transparent transparent #ffffff;
        }
    }
    &.screen-center {
        &::before {
            width: 1em;
            height: 1em;
            background-color: transparent;
            border-width: 2px;
            border-color: #fff;
            transform-origin: 50% 50%;
            transform: translate(-50% , -50%);
            animation-name: none;
        }
    }
    @for $tunnel-index from 0 to 101 {
        $p: $tunnel-index / 100;
        &[data-index="#{$tunnel-index}"].screen-center {
            &::before {
                border-radius: 
                #{44% - 10 * $p} 
                #{56% + 10 * $p} 
                #{63% - 29 * $p} 
                #{37% + 29 * $p} / 
                #{39% + 23 * $p} 
                #{54% - 17 * $p} 
                #{46% + 17 * $p} 
                #{61% - 23 * $p}
            ;
                // 目標 34% 66% 34% 66% / 62% 37% 63% 38%
            }
        }
    }
}

.turn-right {
    &::before {
        animation-name: turn1;
    }
}
.turn-left {
    &::before {
        animation-name: turn2;
    }
}

@for $speed-index from 0 to 11 {
    .turn-speed-#{10 + $speed-index} {
        &::before {
            animation-duration: #{10 + $speed-index}s;
        }
    }
}

@for $origin-index from 1 to 11 {
    .transform-origin-#{10 * $origin-index} {
        &::before {
            transform-origin: #{10% * $origin-index} #{10% * $origin-index};
        }
    }
}

@keyframes turn1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes turn2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.spaceship {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;

    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    transition: 
        transform 2s, 
        border-width 1s, 
        width 1s, 
        height 1s, 
        border-bottom-right-radius 1s,
        border-bottom-left-radius 1s
    ;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    z-index: 101;
    &::before {
        display: block;
        content: "START";
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
        transition: 0.5s;
        text-shadow: 0 0 10px rgba(#000, 0.5);
    }
    &:not(.start):hover {
        transform: translateY(-4px);
        &::before {
            letter-spacing: 3px;
        }
    }
    &.start {
        width: 0px;
        font-size: 0px;
        border-width: 0 40px 87px;
        border-radius: 0px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-color: transparent transparent #fff;
        
        transform: translateZ(-50px) rotateX(90deg);
        z-index: -1;
        &.move {
            transition: 
                margin-left 0.3s
            ;
        }
        &.step-1 {
            &::before {}
            &::after {}
        }
        &.to-right {
            transform: translateZ(-50px) rotateX(90deg) rotateZ(20deg);
        }
        &.to-left {
            transform: translateZ(-50px) rotateX(90deg) rotateZ(-20deg);
        }
    }
}

.msg {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    text-shadow: 0 0 10px rgba(#000, 0.5);
    &.pos-0 {
        
        top: calc(50% + 50px);
    }
    &.pos-1 {
        transition: 4s;
        top: calc(100% - 50px);
    }
}
