html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

* {
    font-family: Arial, "微軟正黑體";
}

.tunnel {
    width: 150px;
    height: 30px;
    background-color: transparent;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    position: relative;
    transition: 1s;
    &::after {
        /* display: block; */
        /* content: attr(data-index); */
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #fff;
    }
}

.spaceship {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;

    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    transition: border-width 1s, width 1s, height 1s, border-bottom-right-radius 1s, border-bottom-left-radius 1s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    position: absolute;
    &::before {
        display: block;
        content: "START";
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
        transition: 0.5s;
    }
    &:hover::before {
        letter-spacing: 3px;
    }
    &.start {
        width: 0px;
        height: 0px;
        font-size: 0px;
        border-width: 0 40px 87px;
        border-radius: 0px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        border-color: transparent transparent #fff;
    }
}
